+-------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------+
| Configuration                 | s01                                                                                                                                           |
+-------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------+
| hasMemberOfFilterSupport      | 0                                                                                                                                             |
| homeFolderNamingRule          |                                                                                                                                               |
| lastJpegPhotoLookup           | 0                                                                                                                                             |
| ldapAgentName                 | {{ SERVICE_ACCOUNT }}                                                                                                                         |
| ldapAgentPassword             | ***                                                                                                                                           |
| ldapAttributesForGroupSearch  |                                                                                                                                               |
| ldapAttributesForUserSearch   |                                                                                                                                               |
| ldapBackupHost                |                                                                                                                                               |
| ldapBackupPort                |                                                                                                                                               |
| ldapBase                      | {{ BASEDN }}                                                                                                                                  |
| ldapBaseGroups                |                                                                                                                                               |
| ldapBaseUsers                 |                                                                                                                                               |
| ldapCacheTTL                  | 600                                                                                                                                           |
| ldapConfigurationActive       | {{ CONFIGACTIVE }}                                                                                                                                             |
| ldapDefaultPPolicyDN          |                                                                                                                                               |
| ldapDynamicGroupMemberURL     |                                                                                                                                               |
| ldapEmailAttribute            |                                                                                                                                               |
| ldapExperiencedAdmin          | 0                                                                                                                                             |
| ldapExpertUUIDGroupAttr       |                                                                                                                                               |
| ldapExpertUUIDUserAttr        |                                                                                                                                               |
| ldapExpertUsernameAttr        |                                                                                                                                               |
| ldapExtStorageHomeAttribute   |                                                                                                                                               |
| ldapGidNumber                 | gidNumber                                                                                                                                     |
| ldapGroupDisplayName          | cn                                                                                                                                            |
| ldapGroupFilter               | {{ GROUPFILTER }}                                                                                                                             |
| ldapGroupFilterGroups         | {{ GROUPFILTERGROUP }}                                                                                                                        |
| ldapGroupFilterMode           | 0                                                                                                                                             |
| ldapGroupFilterObjectclass    |                                                                                                                                               |
| ldapGroupMemberAssocAttr      |                                                                                                                                               |
| ldapHost                      | {{ HOST }}                                                                                                                                    |
| ldapIgnoreNamingRules         |                                                                                                                                               |
| ldapLoginFilter               | {{ LOGINFILTER }}                                                                                                                             |
| ldapLoginFilterAttributes     | {{ LOGINFILTERATTR }}                                                                                                                          |
| ldapLoginFilterEmail          | {{ LOGINFILTEREMAILBOOLEAN }}                                                                                                                                             |
| ldapLoginFilterMode           | 0                                                                                                                                             |
| ldapLoginFilterUsername       | {{ LOGINFILTERNAMEBOOLEAN }}                                                                                                                                             |
| ldapMatchingRuleInChainState  | unknown                                                                                                                                       |
| ldapNestedGroups              | 0                                                                                                                                             |
| ldapOverrideMainServer        |                                                                                                                                               |
| ldapPagingSize                | 500                                                                                                                                           |
| ldapPort                      | {{ PORT }}                                                                                                                                           |
| ldapQuotaAttribute            |                                                                                                                                               |
| ldapQuotaDefault              |                                                                                                                                               |
| ldapTLS                       | 0                                                                                                                                             |
| ldapUserAvatarRule            | default                                                                                                                                       |
| ldapUserDisplayName           | {{ USERDISPLAYNAME }}                                                                                                                                     |
| ldapUserDisplayName2          |                                                                                                                                               |
| ldapUserFilter                | {{ USERFILTER }}                                                                                                      |
| ldapUserFilterGroups          |                                                                                                                                               |
| ldapUserFilterMode            | 0                                                                                                                                             |
| ldapUserFilterObjectclass     | {{ USERFILTEROBJECTCLASS }}                                                                                                                                 |
| ldapUuidGroupAttribute        | auto                                                                                                                                          |
| ldapUuidUserAttribute         | auto                                                                                                                                          |
| turnOffCertCheck              | 0                                                                                                                                             |
| turnOnPasswordChange          | 0                                                                                                                                             |
| useMemberOfToDetectMembership | 1                                                                                                                                             |
+-------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------+
